#img {
    background-image: url("./asset/img.jpg");
    
}

h1,h3 {
    color: rgb(27, 27, 27);
    text-decoration: solid;
    flex-direction: initial;
    margin: 10px;
}
button{
    height: 50px;
    width: 100px;
    color: rgb(30, 122, 102);
    background-color: rgb(121, 26, 26);
    text-decoration: solid;
    padding-bottom: 50px;
}
















/* .rr:first-of-type{
    background-color: aqua;

} */
/* .rr:nth-of-type(even){
background-color: brown;
}

.rr:last-of-type(odd){
    background-color: bisque;
} */